*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;

}
.red{
  margin: 30px;
  padding: 30px;
  width: 100px;
  height: 100px;
  background-color: red;
}